* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$pc: #f7daa5;
$sc: #ce7373;
$tc: #000;
$stc: #fff;

main {
  background-color: $pc;
  color: $tc;
  display: flex;
  gap: 16px;
  flex-flow: row wrap;
  text-align: center;
}

header {
  background-color: $sc;
  color: $stc;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  align-items: center;
  padding: 24px;
}

.HT {
  text-align: right;
  width: 40%;
}

.HC {
  text-align: right;
  width: 40%;
}

.title {
  width: 100%;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  padding-inline: 10em;
  margin-top: 50px;
}

.C {
  font-size: 6vw;
  font-style: bold;
  margin: 0;
  line-height: 1;
}

.bottom-title-text {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  width: 100%;
  line-height: 1;
}

.PA {
  text-align: right;
  font-size: 7.5vw;
  font-style: bold;
  margin: 0;
}

.RO {
  text-align: left;
  font-size: 3.5vw;
  font-style: light;
}

.TC {
  display: flex;
  width: 100%;
  text-align: center;
}

.all-content {
  padding: 16px;
  line-height: 16px;
  padding: 5em;
}

.content1 {
  color: $tc;
  padding: 1em;
}

.c1-1 {
  text-align: left;
}

.c1-2 {
  text-align: right;
}

.c1-3 {
  text-align: left;
}

.content2 {
  color: $tc;
  padding: 1em;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex: 1 0 0;
}

.content3 {
  color: $tc;
  padding: 1em;
  text-align: center;
}

footer {
  background-color: $sc;
  color: $stc;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  align-items: center;
  padding: 24px;
  text-align: center;
  gap: 8px;
}
