* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$pc: #f7daa5;
$sc: #ce7373;
$tc: #000;
$stc: #fff;

h3 {
  position: relative;

  z-index: 1;
}
h3 span {
  position: relative;
  z-index: 2;
  background-color: $pc;
  padding-right: 1em;
}

@mixin line {
  content: "";
  height: 2px;
  width: 100%;
  background: $tc;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
hr {
  border: none;
  height: 2px;
  background-color: $tc;
  margin: 16px 0;
}

h3:before {
  @include line;
}

main {
  background-color: $pc;
  color: $tc;
  display: flex;
  gap: 32px;
  flex-flow: row wrap;
}

header {
  background-color: $sc;
  color: $stc;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
  align-items: center;
  padding: 24px;
}

.main-content {
  border-top: 4px solid black;
  padding-top: 1em;
}

.HT {
  text-align: right;
  width: 40%;
}

.HC {
  text-align: right;
  width: 40%;
}

.title {
  width: 100%;
  margin-bottom: -50px;
  display: flex;
  flex-direction: column;
  padding-inline: 10em;
  margin-top: 50px;
}

.C {
  font-size: 6vw;
  font-style: bold;
  margin: 0;
  line-height: 1;
}

.bottom-title-text {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  width: 100%;
  border-bottom: 4px solid black;
}

.PA {
  text-align: right;
  font-size: 7.5vw;
  font-style: bold;
  margin: 0;
}

.RO {
  text-align: left;
  font-size: 3.5vw;
  font-style: light;
}

.TC {
  display: flex;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
}

.all-content {
  padding: 16px;
  line-height: 16px;
  padding: 5em;
}

.content1 {
  color: $tc;
  padding: 1em;
}

.content-item:nth-child(even) {
  text-align: right;
}

.content-item:nth-child(even) h3 span {
  padding-right: 0;
  padding-left: 1em;
}

.content2 {
  color: $tc;
  padding: 1em;
  text-align: center;
  border-top: 4px solid black;
  padding-top: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 0 0;
  align-items: center;
  color: $stc;
  padding: 1em;
  gap: 1em;
  border-style: round($number: 2);
  font-family: Arial, Helvetica, sans-serif;
  p,
  li {
    color: $tc;
  }
  padding-bottom: 2em;
}

.top-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.info1,
.info2,
.info3,
.info4,
.info5,
.info6,
.info7,
.info8 {
  text-align: center;
  background-color: $sc;
  padding: 1em;
  width: 25%;
  border-radius: 1em;
  height: 18em;
}

.content3 {
  color: $tc;
  padding: 1em;
  text-align: center;
  border-top: 4px solid black;
  padding-top: 2em;
}

.questions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.qrow {
  display: flex;
  gap: 1em;
  flex: 0 0 calc(50% - 0.5em);
}

footer {
  background-color: $sc;
  color: $stc;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  align-items: center;
  padding: 24px;
  text-align: center;
  gap: 8px;
}
